.c2 button{
    padding: 7px;
    font-size: 15px;
    background-color: greenyellow;
    border-radius: 13px;
    cursor: pointer;
   
}
.c2 button:hover{
    color: blue;
    background-color: aqua;
    box-shadow: 5px 5px 5px gray;
    
}
